<!-- Content Header (Page header) -->
<section class="content-header">
  <ol class="breadcrumb">
    <li>
      <a href="#"><i class="fa fa-dashboard"></i> Home</a>
    </li>
    <li class="active">Statements</li>
    <li class="active">Member Code</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <!-- /.col -->
    <div class="col-md-9">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Commission Transactions</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-sm-12">
              <!-- Datatables Tile -->
              <div class="dash-tile dash-tile-2x">
                <div class="dash-tile-content">
                  <div class="dash-tile-content-inner-fluid">
                    <div class="col-12">
                      <div class="card">
                        <div class="card-body p-0">
                          <div class="row p-5">
                            <div class="col-md-6 text-right">
                              <div class="input-group mb-3">
                                <label
                                  class="input-group-text"
                                  for="commissionMonth"
                                  >Commission Month</label
                                >
                                <select
                                  class="form-select"
                                  id="commissionMonth"
                                  (change)="
                                    getCommissionStatementByMonth($event)
                                  "
                                >
                                  <option selected>Select Month</option>
                                  <option value="1">January</option>
                                  <option value="2">February</option>
                                  <option value="3">March</option>
                                  <option value="3">April</option>
                                  <option value="3">May</option>
                                  <option value="3">June</option>
                                  <option value="3">July</option>
                                  <option value="3">August</option>
                                  <option value="3">September</option>
                                  <option value="3">October</option>
                                  <option value="3">November</option>
                                  <option value="3">December</option>
                                </select>
                              </div>
                            </div>
                          </div>

                          <hr class="my-5" />

                          <div class="row pb-5 p-5">
                            <div class="col-md-6">
                              <p class="font-weight-bold mb-4">
                                Member Information
                              </p>
                              <p class="mb-1">{{ customer }}</p>
                              <p class="mb-1">{{ address }}</p>
                            </div>
                          </div>

                          <div class="row p-5">
                            <div class="col-md-12">
                              <div *ngIf="resultsSize != 0; else notShow">
                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th
                                        class="border-0 text-uppercase small font-weight-bold"
                                      >
                                        Date
                                      </th>
                                      <th
                                        class="border-0 text-uppercase small font-weight-bold"
                                      >
                                        Order Number
                                      </th>
                                      <th
                                        class="border-0 text-uppercase small font-weight-bold"
                                      >
                                        Points
                                      </th>
                                      <th
                                        class="border-0 text-uppercase small font-weight-bold"
                                      >
                                        Commission
                                      </th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr
                                      *ngFor="
                                        let commission of commissions | async
                                      "
                                    >
                                      <td>{{ commission.date }}</td>
                                      <td>{{ commission.order_number }}</td>
                                      <td>{{ commission.points }}</td>
                                      <td>
                                        {{
                                          commission.commission_due
                                            | currency: "R ":"code"
                                        }}
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                                <div
                                  class="d-flex flex-row-reverse bg-dark text-white p-4"
                                >
                                  <div class="py-3 px-5">
                                    <div class="mb-2">Total Points</div>
                                    <div class="h2 font-weight-light">
                                      {{ points }}
                                    </div>
                                  </div>

                                  <div class="py-3 px-5">
                                    <div class="mb-2">Commission Earned</div>
                                    <div class="h2 font-weight-light">
                                      {{ commission | currency: "R ":"symbol" }}
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <ng-template #notShow>
                              <h3 class="text-center">
                                No commission transactions found
                              </h3>
                            </ng-template>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /. box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
