<!-- Content Header (Page header) -->
<section class="content-header">
  <ol class="breadcrumb">
    <li>
      <a href="#"><i class="fa fa-dashboard"></i> Home</a>
    </li>
    <li class="active">Orders</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <div class="box-tools">
            <div class="input-group input-group-sm" style="width: 150px">
              <input
                placeholder="Search"
                [(ngModel)]="term"
                class="form-control"
              />

              <div class="input-group-btn">
                <button type="submit" class="btn btn-default">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <!-- Datatables Tile -->
              <div class="dash-tile dash-tile-2x">
                <div class="dash-tile-header">
                  <i class="fa fa-cube"></i> Orders
                </div>
                <div class="dash-tile-content">
                  <div class="dash-tile-content-inner-fluid">
                    <table
                      id="dash-example-orders"
                      class="table table-striped table-bordered table-condensed table-hover"
                    >
                      <thead>
                        <tr>
                          <th class="cell-small"></th>
                          <th>Order Number</th>
                          <th><i class="fa fa-calendar"></i> Date</th>
                          <th><i class="fa fa-user"></i> Member</th>
                          <th><i class="fa fa-truck"></i> Dispatched By</th>
                          <th>Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="
                            let order of orders
                              | async
                              | paginate: { itemsPerPage: 10, currentPage: p }
                              | filter: term
                          "
                        >
                          <td class="">
                            <div class="btn-group">
                              <a
                                href="#modal-edit-order-details"
                                role="button"
                                data-toggle="modal"
                                class="btn btn-xs btn-warning"
                                (click)="editOrderDate(order.order_number)"
                                ><i class="fa fa-pencil"></i
                              ></a>
                              <a
                                href="#modal-order-details"
                                role="button"
                                data-toggle="modal"
                                class="btn btn-xs btn-primary"
                                (click)="loadOrderDetails(order)"
                                ><i class="fa fa-eye"></i
                              ></a>
                              <a
                                href="javascript:void(0)"
                                mwlConfirmationPopover
                                [popoverTitle]="popoverTitle"
                                [popoverMessage]="popoverMessage"
                                placement="left"
                                (confirm)="deleteOrder(order.order_number)"
                                (cancel)="cancelClicked = true"
                                class="btn btn-xs btn-danger"
                                ><i class="fa fa-times"></i
                              ></a>
                            </div>
                          </td>
                          <td>{{ order.order_number }}</td>
                          <td>{{ order.date }}</td>
                          <td>{{ order.customer }}</td>
                          <td>{{ order.dispatch_by }}</td>
                          <td>{{ order.total | currency: "R ":"code" }}</td>
                        </tr>
                      </tbody>
                    </table>
                    <pagination-controls
                      (pageChange)="p = $event"
                      class="pagination pagination-sm"
                    ></pagination-controls>
                  </div>
                </div>
              </div>
              <!-- END Datatables Tile -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="modal-order-details" class="modal">
  <!-- Modal Dialog -->
  <div class="modal-dialog">
    <!-- Modal Content -->
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
        >
          ×
        </button>
      </div>
      <!-- END Modal Header -->

      <!-- Modal Content -->
      <div class="modal-body">
        <table
          class="table table-striped table-bordered table-condensed table-hover"
        >
          <thead>
            <tr>
              <th><i class="fa fa-cube"></i> Product</th>
              <th>Quantity</th>
              <th><i class="fa fa-dollar"></i> Line Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orderItems">
              <td>{{ order.product }}</td>
              <td>{{ order.quantity }}</td>
              <td>{{ order.lineTotal }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- END Modal Content -->
      <!-- END Modal footer -->
    </div>
    <!-- END Modal Content -->
  </div>
  <!-- END Modal Dialog -->
</div>

<!-- edit modal-->
<div id="modal-edit-order-details" class="modal">
  <!-- Modal Dialog -->
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
        >
          ×
        </button>
      </div>
      <div class="modal-body">
        <h5>Update Order Date:</h5>
        <div class="row">
          <div class="col-10">
            <div class="form-horizontal form-box">
              <div class="row">
                <div class="form-box-content">
                  <div class="form-group">
                    <div class="col-md-4">
                      <div class="input-group">
                        <span class="input-group-addon">Select Day:</span>
                        <input
                          [(ngModel)]="orderDay"
                          maxlength="2"
                          type="number"
                          id="day"
                          class="form-control"
                        />
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="input-group">
                        <span class="input-group-addon">Month:</span>
                        <input
                          [(ngModel)]="orderMonth"
                          type="number"
                          id="month"
                          maxlength="2"
                          class="form-control"
                        />
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="input-group">
                        <span class="input-group-addon">Year:</span>
                        <input
                          [(ngModel)]="orderYear"
                          maxlength="4"
                          type="number"
                          id="year"
                          class="form-control"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="input-group">
                <button
                  (click)="updateOrderDate()"
                  class="close"
                  data-dismiss="modal"
                  aria-hidden="true"
                  type="submit"
                  class="btn btn-primary mr-1"
                >
                  Update Order Date
                </button>
              </div>
            </div>
          </div>
          <!-- /.col-lg-12 -->
        </div>
      </div>
    </div>
  </div>
</div>
